/*-- scss:defaults --*/
$presentation-h1-font-size: 2.5em !default;
$presentation-heading-line-height: 1.2;

/*-- scss:rules --*/
p.author {
  font-size: 14px;
}

.slide.level2 h2{
  border-bottom: double 5px;
  padding-bottom: 0px ;
  margin-bottom: .5em;
}

.title-slide.slide{
font-size: 0.8em;
}

.reveal .slide > ul > li, .reveal .slide div > ul > li {
text-align: left;
margin: .5em 0 1.5em 1em !important;
}

.reveal .slide > ul > li:last-child, .reveal .slide div > ul > li:last-child {
  text-align: left;
  margin: .5em 0 .5em 1em !important;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
display: block;
margin-left: 2em;
}

.callout-important, .callout-warning {
margin-left: 3em;
margin-right: 2em;
}

.img-attr {
position: absolute;
bottom: 0;
left: 0;
font-size: 8px;
color: rgb(111, 111, 111);
opacity: 0.75;
width: 100%;
text-align: center;
}

.large-slide-title h2 {
  font-size: 1.3em;
}

/*********************
         Table 
**********************/
.reveal table {
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 3px double black;
  border-bottom: 3px double black;
  margin-left: auto;
  margin-right: auto;
  caption-side: top;
  min-width: 50vh;
}

.reveal table > caption{
  font-size: 2rem;
  text-align: left;
}

/* Configure table */
.reveal table th {
  font-size: .35em;
  padding: .15em;
  text-align: center; 
  border-bottom: none; 
}
.reveal .data_table{
  margin-top: 1em;
  height: 50vh;
  font-size: .75em;
  overflow-y: auto;
  overflow-x: auto;
}
.reveal .data_table table{
  min-width: 75vh;
}

.reveal .center_text table tr th{
  text-align: center !important;
}

.reveal .center_text table tr td{
  text-align: center !important;
}

.two-way-tbl th:nth-child(1){
  border-right: 1px solid white;
}
.two-way-tbl td:nth-child(1){
  border-right: 1px solid black;
}
.two-way-tbl th:last-child{
  border-left: 1px solid white;
}
.two-way-tbl td:last-child{
  border-left: 1px solid black;
}

.two-way-tbl tbody tr:last-child{
  border-top: 1px solid black;
}

.reveal tbody td {
  border-bottom: none;
  padding: .15em;
  font-size: 0.7em;    
  text-align: center;
}

.reveal thead tr {
  background-color: rgb(58, 58, 58);
  color: white;
  font-size: 2em;
}

.reveal tbody tr:nth-child(even){
  background-color: rgba(190, 189, 189, 0.5);
}
